<html>
  <head>
      <link rel="shortcut icon" type="image/png" href="favicon.png"/>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Micalevisk++</title>
      <link rel="stylesheet" type="text/css" href="newstyle.css">
   </head>
   <body>
      <panel id="app">

         <fieldset id="description">
            <label>{{ title }}</label>
            <div>
              <p>
                {{ message.title }}&nbsp;<a :href="message.author.repo" target="_blank" title="github profile"><u>{{ message.author.name }}</u></a><br>
                {{ message.body  }}
              </p>
              <hr>
              <ol v-if="my_repos.length > 0">
                <li v-for="my_repo in my_repos" :id="'repo_' + my_repo.name.toLowerCase()" :language="my_repo.language.toLowerCase()" :create-date="my_repo.created_at">
                    <a :href="my_repo.html_url" :title="'updated at ' + new Date(my_repo.updated_at).toLocaleString()" target="_blank" rel="noopener">{{ my_repo.name }}</a><br>
                    <span class="repo-description">{{ parserDescription( my_repo.description ) }}</span><br>
                    <br>
                </li>
              </ol>
              <span v-else>
                <b v-html="message.loading"></b>
              </span>
            </div>
          </fieldset>

      </panel>

      <!-- Vue.js -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
      <!-- Vue.js plugin: Axios (c) https://github.com/axios/axios -->
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <!-- our app code -->
      <script src="main.js"></script>

  </body>
</html>
