<html>
  <head>
      <link rel="shortcut icon" type="image/png" href="favicon.png"/>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Micalevisk++</title>
      <link rel="stylesheet" type="text/css" href="newstyle.css">
   </head>
   <body>
      <panel id="app">

         <fieldset id="description">
            <label>{{ title }}</label>
            <div>
              <p>
                {{ message.title }}&nbsp;<a :href="message.author.repo" target="_blank" title="github profile"><u>{{ message.author.name }}</u></a><br>
                {{ message.body  }}
              </p>
              <hr>
              <ol v-if="my_repos.length > 0">
                <li v-for="my_repo in my_repos"
                    :id="'repo_' + my_repo.name.toLowerCase()"
                    :data-language="my_repo.language.toLowerCase()"
                    :data-createdAt="my_repo.created_at">
                    <a v-if="!my_repo.isPrivate"
                       :href="my_repo.homepage || my_repo.url"
                       :title="'updated at ' + new Date(my_repo.updated_at).toLocaleString()"
                       target="_blank" rel="noopener">{{ my_repo.name }}</a>
                    <a v-else
                       class="private"
                       :title="'updated at ' + new Date(my_repo.updated_at).toLocaleString()">{{ my_repo.name }}</a>
                    <br>
                    <span v-if="my_repo.description.length" class="repo-description">{{ my_repo.description }} <br></span>
                    <br>
                </li>
              </ol>
              <span v-else>
                <b v-html="message.loading"></b>
              </span>
            </div>
          </fieldset>

      </panel>

      <!-- Vue.js -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
      <script src="GraphQL.js"></script>
      <!-- our app code -->
      <script src="main.js"></script>

  </body>
</html>
