svg {
  position: relative;
  top: 3px;
}

.tag-color {
  color: inherit;
  display: inline-block;
  background: transparent;
  border-radius: 0px;
  white-space: nowrap;
  /* color: rgb(153, 153, 153); */
  opacity: 0.8;
  background: #eeeeee;
  padding: 0px 0.4em;
  border-radius: 3px;
  font-size: x-small;
  line-height: 1.3;
  /* margin: 0.5%; */
  margin-top: 8px;
  margin-right: 5px;
}

.trigger-wrapper {
  margin-bottom: 5%;
  background: white;
  border-left: 6px solid white;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px;

  -webkit-box-shadow: 0 2px 6px rgba(50, 50, 90, 0.227);
     -moz-box-shadow: 0 2px 6px rgba(50, 50, 90, 0.227);
          box-shadow: 0 2px 6px rgba(50, 50, 90, 0.227);
}

.repo-description {
  padding: 1x;
  color: #8E8E93;
  font-size: .875em;
  line-height: 1.4em;
  display: none;
}

.trigger-wrapper:hover .repo-description {
  display: block;
}



/* Glyph, by Harry Roberts */
hr {
  overflow: visible;  /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #212327;
  color: #212327;
  text-align: center;
  opacity: 0.4;
}

hr:after {
  content: '§';
  display: inline-block;
  position: relative;
  top: -0.7em;
  padding: 0 0.25em;
  background: white;
  font-size: 18px;
  -webkit-transform: rotate(60deg);
     -moz-transform: rotate(60deg);
          transform: rotate(60deg);
}



/*!
 * GitHub Light v0.4.1
 * Copyright (c) 2012 - 2017 GitHub, Inc.
 * Licensed under MIT (https://github.com/primer/github-syntax-theme-generator/blob/master/LICENSE)
 */

/*!
 * Primer-product
 * http://primer.github.io
 *
 * Released under MIT license. Copyright (c) 2018 GitHub Inc.
 */

.octicon {
  display:inline-block;
  vertical-align:text-top;
  fill:currentColor
}

.private .mini-repo-list-item .repo-icon {
  color:rgba(27,31,35,0.7)
}

.mini-repo-list-item .repo-icon {
  float:left;
  margin-top:2px;
  margin-left:-20px;
  color:#666
}

a {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 600;
}
